html{
	text-align: center;
}
body{
	background: rgb(131,58,180);
	background: linear-gradient(145deg, rgba(131,58,180,1) 7%, rgba(18,50,133,1) 55%, rgba(69,177,252,1) 98%);
	background-attachment: fixed;
	display: inline-block;
	text-align: center;
	font-family: "century gothic";
}

#gcontador{
	width: 150px;
	position: relative;
	left: 450px;
	background-color: rgba(255, 255, 255,.15);
	color:white;
	border-radius: 30px;
	margin:10px;
}
#lcontador{
	background-color: rgba(255, 255, 255,.25);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: white;
}
#contador{
	color: white;
	font-size: 30px;
	padding-bottom: 25px;
}
#gtimer{
	width: 150px;
	position: relative;
	top: -125px;
	background-color: rgba(255, 255, 255,.15);
	color:white;
	border-radius: 30px;
	margin:10px;
}
#ltimer{
	background-color: rgba(255, 255, 255,.25);
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: white;
}
#timer{
	color: orange;
	font-size: 30px;
	padding-bottom: 25px;
	}
#atras{
	font-size: 150px;
	animation: fadeOut infinite 1s;
	color:red;
	position: relative;
	top: -700px;
	margin: 0px;
	padding: 0px;
    width: 200px;
    left: 210px
}
#click{
	background-color: rgba(255, 255, 255,.05);
	padding: 50px 200px;
	font-size: 100px;
	color: white;
	border-style: outset;
	border-radius: 30px;
	position: relative;
	top:-100px;
	margin:10px;

}
#rvbut{
	background-color: rgba(255, 255, 255,.05);
	color: white;
	border-radius: 30px;
	padding: 10px;
	width: 450px;
	margin:10px;
	position: relative;
	left: 75px;
	top:-80px;
}

#reset{
	background-color: rgba(255, 255, 255,.05);
	padding: 25px 50px;
	font-size: 30px;
	color: white;
	border-style: outset;
	border-radius: 30px;
	margin:10px;
}
#volver{
	background-color: rgba(255, 255, 255,.05);
	padding: 25px 50px;
	font-size: 30px;
	color: white;
	border-style: outset;
	border-radius: 30px;
	margin:10px;

}

#lista{
    background-color: rgba(255, 255, 255,.1);
    font-size: 30px;
    color: white;
    border-radius: 30px;
    list-style: none;
    width: 200px;
    margin:10px;
    padding: 0;
    position: relative;
    top: -640px;
    left: 750px;


}
ul li{
	padding-top: 10px;
}
button:active{
  	animation: pulse 0.5s ;
}

button:disabled{
	opacity: 0.1;
}

h1:hidden,label:hidden {
	opacity: 0;
}
